/* ===================================================
Pseudo Element
=================================================== */

/// `Layouts: Pseudo`
/// adds pseudo styles to pseudo elements.
///
/// @group Layouts
///
/// @example
///   .element {
///     @include pseudo();
///   }
///
@mixin pseudo() {
	content: '';
	display: block;
	position: absolute;
}

/*
Extend
----------------------- */
%pseudo {
	@include pseudo();
}