/* ---------------------------------------------------
Move From To Fade
--------------------------------------------------- */

/*
Move From To
----------------------------- */

/// `Move: To Left`
/// animates from center to the left.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-left(300ms, ease-in);
///   }
///
@mixin move-to-left($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToLeft $transition-duration $transition-ease-method both;
}

/// `Move: From Left`
/// animates from left to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-left(300ms, ease-in);
///   }
///
@mixin move-from-left($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromLeft $transition-duration $transition-ease-method both;
}

/// `Move: To Right`
/// animates from center to the right.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-right(300ms, ease-in);
///   }
///
@mixin move-to-right($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToRight $transition-duration $transition-ease-method both;
}

/// `Move: From Right`
/// animates from right to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-right(300ms, ease-in);
///   }
///
@mixin move-from-right($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromRight $transition-duration $transition-ease-method both;
}

/// `Move: To Top`
/// animates from center to the top.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-top(300ms, ease-in);
///   }
///
@mixin move-to-top($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToTop $transition-duration $transition-ease-method both;
}

/// `Move: From Top`
/// animates from top to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-top(300ms, ease-in);
///   }
///
@mixin move-from-top($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromTop $transition-duration $transition-ease-method both;
}

/// `Move: To Bottom`
/// animates from center to the bottom.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-bottom(300ms, ease-in);
///   }
///
@mixin move-to-bottom($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToBottom $transition-duration $transition-ease-method both;
}

/// `Move: From Bottom`
/// animates from bottom to the center.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-bottom(300ms, ease-in);
///   }
///
@mixin move-from-bottom($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromBottom $transition-duration $transition-ease-method both;
}

/*
Fade
----------------------------- */
/// `Fade`
/// animates opacity.
///
/// @group Animations: Fade
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include fade-it(300ms, ease-in);
///   }
///
@mixin fade-it($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: fade $transition-duration $transition-ease-method both;
}

/*
Move From To and Fade
----------------------------- */

/// `Move: To Left With Fade`
/// animates from center to the left with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-left-fade(300ms, ease-in);
///   }
///
@mixin move-to-left-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToLeftFade $transition-duration $transition-ease-method both;
}

/// `Move: From Left With Fade`
/// animates from left to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-left-fade(300ms, ease-in);
///   }
///
@mixin move-from-left-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromLeftFade $transition-duration $transition-ease-method both;
}

/// `Move: To Right With Fade`
/// animates from center to the right with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-right-fade(300ms, ease-in);
///   }
///
@mixin move-to-right-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToRightFade $transition-duration $transition-ease-method both;
}

/// `Move: From Right With Fade`
/// animates from right to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-right-fade(300ms, ease-in);
///   }
///
@mixin move-from-right-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromRightFade $transition-duration $transition-ease-method both;
}

/// `Move: To Top With Fade`
/// animates from center to the top with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-top-fade(300ms, ease-in);
///   }
///
@mixin move-to-top-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToTopFade $transition-duration $transition-ease-method both;
}

/// `Move: From Top With Fade`
/// animates from top to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-top-fade(300ms, ease-in);
///   }
///
@mixin move-from-top-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromTopFade $transition-duration $transition-ease-method both;
}

/// `Move: To Bottom With Fade`
/// animates from center to the bottom with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-to-bottom-fade(300ms, ease-in);
///   }
///
@mixin move-to-bottom-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveToBottomFade $transition-duration $transition-ease-method both;
}

/// `Move: From Bottom With Fade`
/// animates from bottom to the center with fading effect.
///
/// @group Animations: Move
///
/// @param {string} $transition-duration [$transition-duration] - duration time
/// @param {Object} $transition-ease-method [$transition-ease-method] - ease method
///
///
/// @example
///   .element {
///     @include move-from-bottom-fade(300ms, ease-in);
///   }
///
@mixin move-from-bottom-fade($transition-duration: $transition-duration, $transition-ease-method: $transition-ease-method) {
	animation: moveFromBottomFade $transition-duration $transition-ease-method both;
}

/* ---------------------------------------------------
Keyframes: MOVE FROM TO AND FADE
--------------------------------------------------- */

@include keyframes(moveToLeft) {
	from {
	}
	to {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
	}
}

@include keyframes(moveFromLeft) {
	from {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
	}
}

@include keyframes(moveToRight) {
	from {
	}
	to {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
	}
}

@include keyframes(moveFromRight) {
	from {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
	}
}

@include keyframes(moveToTop) {
	from {
	}
	to {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
	}
}

@include keyframes(moveFromTop) {
	from {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
	}
}

@include keyframes(moveToBottom) {
	from {
	}
	to {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
	}
}

@include keyframes(moveFromBottom) {
	from {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
	}
}

/* fade */
@include keyframes(fade) {
	from {
	}
	to {
		opacity: 0;
	}
}

/* move from / to and fade */
@include keyframes(moveToLeftFade) {
	from {
	}
	to {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(moveFromLeftFade) {
	from {
		transform: translateX(-100%);
		transform: translate3d(-100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(moveToRightFade) {
	from {
	}
	to {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(moveFromRightFade) {
	from {
		transform: translateX(100%);
		transform: translate3d(100%, 0, 0);
		opacity: 0;
	}
}

@include keyframes(moveToTopFade) {
	from {
	}
	to {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

@include keyframes(moveFromTopFade) {
	from {
		transform: translateY(-100%);
		transform: translate3d(0, -100%, 0);
		opacity: 0;
	}
}

@include keyframes(moveToBottomFade) {
	from {
	}
	to {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}

@include keyframes(moveFromBottomFade) {
	from {
		transform: translateY(100%);
		transform: translate3d(0, 100%, 0);
		opacity: 0;
	}
}